{{#if message}}
<div>{{message}}</div>
{{/if}}
{{#if error}}
<div>{{error}}</div>
{{/if}}
<p>
  <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="isCompleted" {{#if todo.isCompleted}}checked{{/if}} disabled>
  {{todo.name}}
</p>
<a href="/todos">Back</a>
<a href="/todos/{{todo.id}}/edit">Edit</a>
<form action="/todos/{{todo.id}}?_method=DELETE" method="POST" style="display: inline;">
  <button type="">Delete</button>
</form>